header { 
	background-color: blue;

}
.header_item {
	font-size: 16px;
	color: white;
}
.header_item img {
	width: 115px;
	height: 65px;
	margin-top: 40px;
	margin-left: 240px;
}

.image img {
	width: 1195px;
	height: 600px;
	margin-left: 362px;
}
ul {
	list-style: none;
}
a { 
	text-decoration: none;
	color: white;
}
h1 {
	font-size: 28px;
	color: #171717;
	margin-left: 362px;
}
#black {
	color: black;
	background-color: white;
	border-radius: 28px;
	width: 100px;
}
.buildings img {
	width: 219px;
	height: 219px;
	margin-left: 25px;
}
.paragraphfonts p {
	font-size: 16px;
	margin-left: 484.5px;
}
h2 {
	background-color: #0A22F4;
	border-radius: 28px;
	font-size: 16px;
	color: #ffffff;
	width: 341px;
	height: 55px;
	margin-left: 847px;
	padding-left: 57px;
	padding-top: 18px;
}